@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  color: #212121;
  user-select: none;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
